# Data & DB
data/
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Build & Packaging (keep the spec, exclude build artifacts)
dist/
build/
*.spec

# Tests
.pytest_cache/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
